@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;	
}

body {
	font-family: poppins, sans-serif;
	color: #fff;
	background-color: #1f1f1f;
}

a {
	color: #fff;
	text-decoration: none;
	background-color: transparent;
}

.row {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(-1 * var(--bs-gutter-y));
	margin-right: calc(-0.5 * var(--bs-gutter-x));
	margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row > * {
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
	padding-right: calc(var(--bs-gutter-x) * 0.5);
	padding-left: calc(var(--bs-gutter-x) * 0.5);
	margin-top: var(--bs-gutter-y);
}

.row-cols-2 > * {
	flex: 0 0 auto;
	width: 50%;
}

h4 {
	text-align: left;
}

.col-6 {
	flex: 0 0 auto;
	width: 50%;
}

.col-12 {
	flex: 0 0 auto;
	width: 100%;
}

.navbar {
	position: absolute;
	display: flex;
	justify-content: space-between;
	/* z-index: 10; */
	left: 0;
	top: 0;
	width: 100%;
	padding-top: 2rem;
	height: 7rem;
	margin: 0;
	border-radius: 0;
	padding-left: 4rem;
	padding-right: 4rem;
}

.menu-list {
	display: flex;
	overflow-x: hidden;
	overflow-y: auto;
	font-weight: 600;
	letter-spacing: -0.025rem;
	margin: 0;
}

.menu-list li {
	list-style: none;
	padding-left: 30px;
}

.brand {
	line-height: 1.6;
	display: inline-block;
}

.brand-img {
	display: inline-block;
	vertical-align: top;
	margin-right: 0.65rem;
	height: 2.356rem;
}

.brand-name {
	font-weight: 600;
	font-size: 1.714rem;
	display: inline-block;
	line-height: 1;
}

#hero {
	height: 100vh;
	background-image: url("assets/bg.png");
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10%;
	margin-bottom: 100px;
}

#hero h1 {
	font-family: montserrat, sans-serif;
	font-size: 3.9rem;
	font-weight: 600;
	line-height: 1;
	letter-spacing: -0.05em;
	margin: 0;
	text-transform: uppercase;
}

#hero h1 span {
	color: yellow;
}

#hero .motto {
	line-height: 1.714;
	margin-top: 2.8rem;
	letter-spacing: 0.1em;
	font-weight: 500;
	font-size: 1rem;
}

#QuickStat {
	margin-bottom: 100px;
}

#QuickStat h1 {
	text-align: center;
	margin-bottom: 30px;
}

.table-index {
	width: 800px;
	text-align: left;
	margin: auto;
}

.table-index th,
.table-index td {
	padding: 10px 30px 10px 0;
}

table {
	border-collapse: collapse;
}

tbody,
td,
tfoot,
th,
thead {
	border-color: #949494;
	border-style: solid;
	border-width: 0 0 1px 0;
}

/* === ABOUT === */
#about {
	height: 100vh;
	background-image: url("assets/bg2.png");
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10%;
	margin-bottom: 100px;
	text-align: center;
}

#about h1 {
	font-family: montserrat, sans-serif;
	font-size: 10rem;
	font-weight: 600;
	line-height: 1;
	letter-spacing: -0.05em;
	margin: 0;
	text-transform: uppercase;
	animation: fontChange 3.5s infinite;
}

#main.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 100px;
}

#main.about .container {
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	gap: 60px;
}

#main.about h1 {
	text-align: center;
	margin-bottom: 30px;
}

#main.about .bio p {
	text-indent: 4rem;
	text-align: justify;
}

#main.about .design-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	font-family: Jost;
}

.design {
	display: flex;
	align-items: center;
	justify-content: center;
}

.timeline {
	width: 80%;
	height: auto;
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.timeline-content {
	padding: 20px;
	background: #1f1f1f;
	-webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
	box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
	border-radius: 5px;
	color: white;
	padding: 1.75rem;
	transition: 0.4s ease;
	overflow-wrap: break-word !important;
	margin: 1rem;
	margin-bottom: 20px;
	border-radius: 6px;
}

.timeline-component {
	margin: 0px 20px 20px 20px;
}

/* === CONTACT === */
#contact.main .hero {
	height: 100vh;
	background-image: url(assets/bg2.png);
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10%;
	text-align: center;
}

#contact.main .data {
	min-height: 100vh;
	background-image: url(assets/bg3.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10%;
	text-align: center;
}

#contact .container {
	max-width: 1200px;
	margin: 0 auto;
}

#contact .table-index {
	width: 100%;
}

#contact textarea.input {
	height: 200px;
	resize: vertical;
}

#contact .btn-container {
	--btn-color: #d8ff7c;
	--corner-color: #0002;
	--corner-dist: 24px;
	--corner-multiplier: 1.5;
	--timing-function: cubic-bezier(0, 0, 0, 2.5);
	--duration: 250ms;

	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	width: 140px;
	transform: scale(2);
}

#contact .btn {
	position: relative;
	min-width: 160px;
	min-height: calc(var(--corner-dist) * 2);
	border-radius: 16px;
	border: none;
	padding: 0.25em 1em;

	background: linear-gradient(#fff2, #0001), var(--btn-color);
	box-shadow: 1px 1px 2px -1px #fff inset, 0 2px 1px #00000010,
		0 4px 2px #00000010, 0 8px 4px #00000010, 0 16px 8px #00000010,
		0 32px 16px #00000010;

	transition: transform var(--duration) var(--timing-function),
		filter var(--duration) var(--timing-function);
	-webkit-transition: transform var(--duration) var(--timing-function),
		-webkit-filter var(--duration) var(--timing-function);

	cursor: pointer;
}

#contact .btn-drawer {
	position: absolute;
	display: flex;
	justify-content: center;

	min-height: 32px;
	border-radius: 16px;
	border: none;
	padding: 0.25em 1em;
	font-size: 0.8em;
	font-weight: 600;
	font-family: "Poppins", monospace;
	color: #0009;

	background: linear-gradient(#fff2, #0001), var(--btn-color);
	background-color: #fbff13;
	opacity: 0;

	transition: transform calc(0.5 * var(--duration)) ease,
		filter var(--duration) var(--timing-function),
		opacity calc(0.5 * var(--duration)) ease;
	-webkit-transition: transform calc(0.5 * var(--duration)) ease,
		-webkit-filter var(--duration) var(--timing-function),
		opacity calc(0.5 * var(--duration)) ease;
	filter: blur(2px);
	-webkit-filter: blur(2px);
}

#contact .transition-top {
	top: 0;
	left: 0;
	border-radius: 12px 12px 0 0;
	align-items: start;
}
#contact .transition-bottom {
	bottom: 0;
	right: 0;
	border-radius: 0 0 12px 12px;
	align-items: end;
}

#contact .btn-text {
	display: inline-block;

	font-size: 1.25em;
	font-family: "Syne", "Poppins", "Inter", sans-serif;
	font-weight: 600;
	color: #5550;

	background-image: linear-gradient(#444, #000a);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	filter: drop-shadow(0 1px 0 #fff6) drop-shadow(0 -1px 0 #0006);
	-webkit-filter: drop-shadow(0 1px 0 #fff6) drop-shadow(0 -1px 0 #0006);

	transition: transform var(--duration) var(--timing-function),
		filter var(--duration) var(--timing-function),
		color var(--duration) var(--timing-function);
	-webkit-transition: transform var(--duration) var(--timing-function),
		-webkit-filter var(--duration) var(--timing-function),
		color var(--duration) var(--timing-function);
}

#contact .btn-corner {
	position: absolute;
	width: 32px;

	fill: none;
	stroke: var(--corner-color);

	transition: transform var(--duration) var(--timing-function),
		filter var(--duration) var(--timing-function);
	-webkit-transition: transform var(--duration) var(--timing-function),
		-webkit-filter var(--duration) var(--timing-function);
}

#contact .btn-corner:nth-of-type(1) {
	top: 0;
	left: 0;
	transform: translate(
			calc(-1 * var(--corner-dist)),
			calc(-1 * var(--corner-dist))
		)
		rotate(90deg);
}
#contact .btn-corner:nth-of-type(2) {
	top: 0;
	right: 0;
	transform: translate(var(--corner-dist), calc(-1 * var(--corner-dist)))
		rotate(180deg);
}
#contact .btn-corner:nth-of-type(3) {
	bottom: 0;
	right: 0;
	transform: translate(var(--corner-dist), var(--corner-dist)) rotate(-90deg);
}
#contact .btn-corner:nth-of-type(4) {
	bottom: 0;
	left: 0;
	transform: translate(calc(-1 * var(--corner-dist)), var(--corner-dist))
		rotate(0deg);
}

#contact .btn-container:has(.btn:hover),
#contact .btn-container:has(.btn:focus-visible) {
	.btn {
		transform: scale(1.05);
		filter: drop-shadow(0 16px 16px #0002);
		-webkit-filter: drop-shadow(0 16px 16px #0002);
	}
	.transition-top {
		transform: translateY(-24px) rotateZ(4deg);
		filter: blur(0px);
		-webkit-filter: blur(0px);
		animation: hue-anim 3s infinite linear;
		-webkit-animation: hue-anim 3s infinite linear;
		opacity: 1;
	}
	.transition-bottom {
		transform: translateY(24px) rotateZ(4deg);
		filter: blur(0px);
		-webkit-filter: blur(0px);
		animation: hue-anim 3s infinite linear;
		-webkit-animation: hue-anim 3s infinite linear;
		opacity: 1;
	}
	.btn-text {
		filter: drop-shadow(0 1px 0 #fff6) drop-shadow(0 -1px 0 #0006)
			drop-shadow(0px 6px 2px #0003);
		-webkit-filter: drop-shadow(0 1px 0 #fff6) drop-shadow(0 -1px 0 #0006)
			drop-shadow(0px 6px 2px #0003);
		transform: scale(1.05);
		color: #0008;
	}

	--corner-color: rgba(0, 0, 0, 0.267);
	.btn-corner:first-of-type {
		transform: translate(
				calc(-1 * var(--corner-multiplier) * var(--corner-dist)),
				calc(-1 * var(--corner-multiplier) * var(--corner-dist))
			)
			rotate(90deg);
		filter: drop-shadow(-10px 10px 1px var(--corner-color))
			drop-shadow(-20px 20px 2px var(--corner-color));
		-webkit-filter: drop-shadow(-10px 10px 1px var(--corner-color))
			drop-shadow(-20px 20px 2px var(--corner-color));
	}
	.btn-corner:nth-of-type(2) {
		transform: translate(
				calc(var(--corner-multiplier) * var(--corner-dist)),
				calc(-1 * var(--corner-multiplier) * var(--corner-dist))
			)
			rotate(180deg);
		filter: drop-shadow(-10px 10px 1px var(--corner-color))
			drop-shadow(-20px 20px 2px var(--corner-color));
		-webkit-filter: drop-shadow(-10px 10px 1px var(--corner-color))
			drop-shadow(-20px 20px 2px var(--corner-color));
	}
	@-moz-document url-prefix() {
		.btn-corner:nth-of-type(2) {
			filter: drop-shadow(10px -10px 1px var(--corner-color))
				drop-shadow(20px -20px 2px var(--corner-color));
		}
	}
	.btn-corner:nth-of-type(3) {
		transform: translate(
				calc(var(--corner-multiplier) * var(--corner-dist)),
				calc(var(--corner-multiplier) * var(--corner-dist))
			)
			rotate(-90deg);
		filter: drop-shadow(-10px 10px 1px var(--corner-color))
			drop-shadow(-20px 20px 2px var(--corner-color));
		-webkit-filter: drop-shadow(-10px 10px 1px var(--corner-color))
			drop-shadow(-20px 20px 2px var(--corner-color));
	}
	.btn-corner:nth-of-type(4) {
		transform: translate(
				calc(-1 * var(--corner-multiplier) * var(--corner-dist)),
				calc(var(--corner-multiplier) * var(--corner-dist))
			)
			rotate(0deg);
		filter: drop-shadow(-10px 10px 1px var(--corner-color))
			drop-shadow(-20px 20px 2px var(--corner-color));
		-webkit-filter: drop-shadow(-10px 10px 1px var(--corner-color))
			drop-shadow(-20px 20px 2px var(--corner-color));
	}
}

#contact .btn-container:has(.btn:active) {
	.btn {
		transform: scale(0.95);
		filter: drop-shadow(0 10px 4px #0002);
		-webkit-filter: drop-shadow(0 10px 4px #0002);
	}
	.transition-top,
	.transition-bottom {
		transform: translateY(0px) scale(0.5);
	}
	.btn-text {
		filter: drop-shadow(0 1px 0 #fff6) drop-shadow(0 -1px 0 #0006)
			drop-shadow(0px 6px 2px #0003);
		-webkit-filter: drop-shadow(0 1px 0 #fff6) drop-shadow(0 -1px 0 #0006)
			drop-shadow(0px 6px 2px #0003);
		transform: scale(1);
		color: #000a;
	}
	--corner-color: rgba(0, 0, 0, 0.333);
	--corner-multiplier: 0.95;
	.btn-corner:first-of-type {
		transform: translate(
				calc(-1 * var(--corner-multiplier) * var(--corner-dist)),
				calc(-1 * var(--corner-multiplier) * var(--corner-dist))
			)
			rotate(90deg);
		filter: drop-shadow(-10px 10px 2px var(--corner-color))
			drop-shadow(-20px 20px 3px var(--corner-color));
		-webkit-filter: drop-shadow(-10px 10px 2px var(--corner-color))
			drop-shadow(-20px 20px 3px var(--corner-color));
	}
	.btn-corner:nth-of-type(2) {
		transform: translate(
				calc(var(--corner-multiplier) * var(--corner-dist)),
				calc(-1 * var(--corner-multiplier) * var(--corner-dist))
			)
			rotate(180deg);
		filter: drop-shadow(-10px 10px 2px var(--corner-color))
			drop-shadow(-20px 20px 3px var(--corner-color));
		-webkit-filter: drop-shadow(-10px 10px 2px var(--corner-color))
			drop-shadow(-20px 20px 3px var(--corner-color));
	}
	@-moz-document url-prefix() {
		.btn-corner:nth-of-type(2) {
			filter: drop-shadow(10px -10px 2px var(--corner-color))
				drop-shadow(20px -20px 3px var(--corner-color));
		}
	}
	.btn-corner:nth-of-type(3) {
		transform: translate(
				calc(var(--corner-multiplier) * var(--corner-dist)),
				calc(var(--corner-multiplier) * var(--corner-dist))
			)
			rotate(-90deg);
		filter: drop-shadow(-10px 10px 2px var(--corner-color))
			drop-shadow(-20px 20px 3px var(--corner-color));
		-webkit-filter: drop-shadow(-10px 10px 2px var(--corner-color))
			drop-shadow(-20px 20px 3px var(--corner-color));
	}
	.btn-corner:nth-of-type(4) {
		transform: translate(
				calc(-1 * var(--corner-multiplier) * var(--corner-dist)),
				calc(var(--corner-multiplier) * var(--corner-dist))
			)
			rotate(0deg);
		filter: drop-shadow(-10px 10px 2px var(--corner-color))
			drop-shadow(-20px 20px 3px var(--corner-color));
		-webkit-filter: drop-shadow(-10px 10px 2px var(--corner-color))
			drop-shadow(-20px 20px 3px var(--corner-color));
	}
}

/* checkbox */
.material-checkbox {
	display: flex;
	align-items: center;
	font-size: 16px;
	cursor: pointer;
}

.material-checkbox input {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.checkmark {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 12px;
	border: 2px solid #454b00;
	border-radius: 4px;
	transition: all 0.3s;
}

.material-checkbox input:checked ~ .checkmark {
	background-color: #2f3300;
	border-color: #454b00;
}

.material-checkbox input:checked ~ .checkmark:after {
	content: "";
	position: absolute;
	top: 2px;
	left: 6px;
	width: 4px;
	height: 10px;
	border: solid white;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}

.material-checkbox input:focus ~ .checkmark {
	box-shadow: 0 0 0 2px #dfec5065;
}

.material-checkbox:hover input ~ .checkmark {
	border-color: #c3cf34;
}

.material-checkbox input:disabled ~ .checkmark {
	opacity: 0.5;
	cursor: not-allowed;
}

.material-checkbox input:disabled ~ .checkmark:hover {
	border-color: #4d4d4d;
}

/* form */
#contact .form-group {
	display: flex;
	flex-direction: column;
	gap: 7px;
	position: relative;
	color: white;
	margin-bottom: 30px;
}

#contact .form-group .label {
	font-size: 15px;
	padding-left: 10px;
	position: absolute;
	top: 13px;
	transition: 0.3s;
	pointer-events: none;
}

#contact .input {
	height: 45px;
	border: none;
	outline: none;
	padding: 0px 7px;
	border-radius: 6px;
	color: #fff;
	font-size: 15px;
	background-color: transparent;
	backdrop-filter: blur(3px);
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
		-1px -1px 6px rgba(255, 255, 255, 0.4);
}

#contact .input:focus {
	border: 2px solid transparent;
	color: #fff;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
		-1px -1px 6px rgba(255, 255, 255, 0.4),
		inset 3px 3px 10px rgba(0, 0, 0, 1),
		inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

#contact .form-group .input:valid ~ .label,
#contact .form-group .input:focus ~ .label {
	transition: 0.3s;
	padding-left: 2px;
	transform: translateY(-35px);
}

#contact .form-group .input:valid,
#contact .form-group .input:focus {
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
		-1px -1px 6px rgba(255, 255, 255, 0.4),
		inset 3px 3px 10px rgba(0, 0, 0, 1),
		inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

/* === FOOTER === */
footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 50px 40px;
	gap: 10px;
}

footer.about {
	background-color: #3d3d3d;
	padding-top: 60px;
}

footer.contact {
	padding: 40px 0;
}

footer ul {
	list-style: none;
}

.example-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bolder;
	background-color: #000;
	border-radius: 30px;
	padding: 20px;
	height: 70px;
	width: 300px;
}

footer.about .example-1,
footer.about .icon-content .link {
	background-color: #1f1f1f;
}

.example-1 .icon-content {
	margin: 0 10px;
	position: relative;
	font-weight: bolder;
}

.example-1 .icon-content .tooltip {
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
	color: #000;
	padding: 6px 10px;
	border-radius: 5px;
	opacity: 0;
	visibility: hidden;
	font-size: 14px;
	transition: all 0.3s ease;
	font-weight: bolder;
}

.example-1 .icon-content:hover .tooltip {
	opacity: 1;
	visibility: visible;
	top: -50px;
}

.example-1 .icon-content .link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	color: #fff;
	background-color: #000;
	transition: all 0.3s ease-in-out;
	font-weight: bolder;
}

.example-1 .icon-content .link:hover {
	box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.example-1 .icon-content .link svg {
	width: 30px;
	height: 30px;
	fill: #fff;
}

.example-1 .icon-content .link[data-social="spotify"]:hover {
	color: #1db954;
}

.example-1 .icon-content .link[data-social="pinterest"]:hover {
	color: #bd081c;
}

.example-1 .icon-content .link[data-social="dribbble"]:hover {
	color: #ea4c89;
}

.example-1 .icon-content .link[data-social="telegram"]:hover {
	color: #0088cc;
}

@keyframes fontChange {
	0% {
		font-family: "montserrat", sans-serif;
	}
	20% {
		font-family: "Times New Roman", serif;
	}
	40% {
		font-family: "Courier New", monospace;
	}
	60% {
		font-family: "Georgia", serif;
	}
	80% {
		font-family: "Verdana", sans-serif;
	}
}

@keyframes hue-anim {
	0%,
	100% {
		filter: hue-rotate(0deg);
		-webkit-filter: hue-rotate(0deg);
	}
	50% {
		filter: hue-rotate(-70deg);
		-webkit-filter: hue-rotate(-70deg);
	}
}

@-webkit-keyframes hue-anim {
	0%,
	100% {
		-webkit-filter: hue-rotate(0deg);
	}
	50% {
		-webkit-filter: hue-rotate(-70deg);
	}
}

@media screen and (min-width: 768px) {
	.timeline {
		display: grid;
		grid-template-columns: 1fr 3px 1fr;
	}
	.timeline-middle {
		position: relative;
		background-image: linear-gradient(45deg, #f27121, #e94057, #8a2387);
		width: 3px;
		height: 100%;
	}
	.main-middle {
		opacity: 0;
	}
	.timeline-circle {
		position: absolute;
		top: 0;
		left: 50%;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-image: linear-gradient(45deg, #f27121, #e94057, #8a2387);
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
}
